<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ch.there.razfaz"
        version   = "0.3.0">

    <name>Raz Faz</name>

    <description>
      Mobile app and website displaying volleyball result from http://r-v-z.ch
    </description>

    <author href="http://razfaz.there.ch" email="ibirrer@gmail.com">
      Iwan Birrer
    </author>
    
    <access origin="*" />

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/network"/>
    <preference name="phonegap-version" value="2.5.0" />

</widget>
