@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(../fonts/Oswald.woff) format('woff');
}

body {
  margin: 0;
  padding: 0; 
  font: 16px/26px Oswald, Helvetica, Helvetica Neue, Arial;
  background-color: #222;
}

/* overflow-x does not work on the body element on mobile webkit. Using a wrapper div */
div#wrapper {
  position: relative;
  overflow-x: hidden;
}

header#main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: white;
  height: 40px;
  z-index: 20; /* in front */
  background-color: #444;
  border-bottom: 1px solid #222;
}

header#main-header h1 {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 7px; 
  left: 42px;
  right: 0;
  margin: 0; 
  padding: 0;
  padding-right: 42px;
  font-size: 22px;
  color: #fff;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#hamburger-button {
  position: absolute;
  left: 2px;
  top: 0;
  width: 22px;
  bottom: 0;
  border-top: 12px solid #444;
  border-right: 20px solid #444;
  border-bottom: 12px solid #444;
  border-left: 8px solid #444;

  /* Image created on http://www.patternify.com/ */
  /* http://bit.ly/10XcGFU */
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAGCAYAAAACEPQxAAAAE0lEQVQIW2P8DwSMaAQDEDCCCAA/Vg/3UpJiWgAAAABJRU5ErkJggg==);
}

/* main navigation */
nav {
  position: fixed;
  color: white;
  top: 2px;
  left: 0;
  right: 20%;
  z-index: 0; /* in back */
}

nav h2 {
  font-size: 22px;
  color: #f1f1f1;
  background-color: #95b31c;
  padding: 6px 0 6px 12px;
  margin: 0 0 1px 0;
  text-transform: uppercase;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 1px;
  padding: 5px 12px;

  text-decoration: none;
  font-weight: bold;

  color: #f1f1f1;
  background-color: #4d4d4d
}

nav a:hover,
nav a:visited {
  color: #f1f1f1;
}

nav a:hover {
  background-color: #6b6b6b;
}

.slidable {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

/* fallback if translate3d is not supported */
.slid-open {
  border-left: 2px solid black;
  margin-left: 80%;
}

.csstransforms3d .slid-open {
  margin: 0;
  transform: translate3d(80%,0,0);
  -webkit-transform: translate3d(80%,0,0);
  -moz-transform: translate3d(80%,0,0);
}

section#main-content-wrapper {
  position: relative; /* cannot be static, otherwise z-index doesn't work */
  margin: 0;
  padding: 36px 0 0 0;
  background-color: #fff;
  z-index: 10; /* middle */
}

div#main-content {
  width: 100%;

  /* see http://complexspiral.com/publications/uncollapsing-margins/ why a padding is 
  needed here. */
  padding-top: 5px;
}

.game {
  position: relative;
  background-color: #f1f1f1;
  border-top: 1px solid #c9c9c9;
  height: 80px;
}

.info {
  position: absolute;
  left: 16px;
  right: 0;
  height: 80px;
}

.venue {
  position: absolute;
  top: 25px;
  font-size: 32px;
  color: #95b31c;
}

.date {
  position: absolute;
  top: 25px;
  left: 32px;
  font-size: 32px;
  white-space: nowrap;
  color: #333;
}

.time {
  position: absolute;
  top: 18px;
  left: 150px;
  font-size: 14px;
  color: #4d4d4d;
}

.opponent {
  overflow: hidden;
  position: absolute;
  top: 33px;
  left: 150px;
  right: 53px;
  font-size: 14px;
  white-space: nowrap;
  color: #4d4d4d;
}

.result {
  position: absolute;
  top: 25px;
  right: 16px;
  font-size: 32px;
  color: #95b31c;
}









input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label span {
  /* credit goes to */
  /* http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons */
  display:inline-block;
  width:31px;
  height:31px;
  margin:10px;
  vertical-align:middle;
  background:url(/img/person_icon_sprite.png) left top no-repeat;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span {
  /* don't reference the image again here! Otherwise safari will load it again */
  background-position: -32px top;
}

a.button {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#666666;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

a.button:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color:#f6f6f6;
}

a.button:active {
  position:relative;
  top:1px;
}

